* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}
.sidebar {
  height: 100vh;
  width: 300px;
  background-color: #253141;
  &__header{
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    &__box{
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-weight: bold;
      color: #ffffff;
      &__username{
        font-size: 16px;
      }
      &__menu{
        display: flex;
        &__newgroup{
          margin-right: 5px;
        }
        &__edituser{
        }
        a{
          color: white;
        }
      }
    }
  }
  &__group{
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    overflow: scroll;
    &__list{
      padding: 0 20px;
      &__name{
        font-size: 15px;
        padding: 20px 0 5px 0;
      }
      &__message{
        font-size: 11px;
        margin-bottom: 40px;
      }
      a{
        color: white;
        text-decoration: none;
      }
    }
  }
}

.mainchat {
  height: 100vh;
  width: calc( 100vw - 300px);
  background-color: #ffffff;
  &__header{
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    position: relative;
    &__leftbox{
      margin: 35px 35px 35px 0;
      &__current-group{
        font-size: 20px;
        color: #333333;
        margin-bottom: 15px;
      }
      &__member-list{
        display: flex;
        font-size: 12px;
        color: #999999;
      }
    }
    &__edit-btn{
      height: 40px;
      position: absolute;
      top: 40px;
      right: 20px;
      border: solid 1px #38aef0;
      line-height: 40px;
      width: 60px;
      text-align: center;
    }
    a{
      text-decoration: none;
      color: #38aef0;
      font-size: 16px;
    }
  }




  &__message{
    background-color: #fafafa;
    height: calc(100vh - 190px);
    padding: 46px 40px;
    overflow: scroll;
    padding-bottom: 40px;
    &__upper-info{
      display: flex;
      margin-bottom: 10px;
      &__taker{
        color: #434a54;
        font-size: 16px;
        font-weight: bold;
      }
      &__date{
        color: #999999;
        font-size: 12px;
        margin-left: 10px;
      }
    }
    &__text{
      color: #434a54;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }

  &__form{
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;
    position: relative;
    .new_message{
      display: flex;
    }
      .mainchat_input{
        width: 100%;
      }
      .form__message{
        height: 50px;
        width: 100%;
        padding: 0 0 0 10px;
        color: #434a54;
        border-style: none;
        display: inline-block;
      }
      .form__submit{
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;
        cursor: pointer;
        display: inline-block;
      }
    .hidden{
      display: none;
    }
    .form__mask__image{
      font-size: 1.3rem;
      top: 30px;
      right: 180px;
      cursor: pointer;
      position: absolute;
    }
  }
}
